<div class="row mt-5" style = "height:20rem;">
    <div class="col-md-10 col-lg-8 m-auto">
<<<<<<< HEAD
      <div class="card card-body text-center" style = "height:20rem;background-color: steelblue;">
=======
      <div class="card card-body text-center" style = "height:20rem; background-color: palegoldenrod;">
>>>>>>> 37824d795e68d0d7d5cae93c48d636fabba3891b
        <h1><i class="fas fa-book-reader"></i></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>