
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
   <!--Made with love by Mutiullah Samim -->
   

	<!--Custom styles-->
	<link href="css/styles.css" rel="stylesheet" >
	<%-include('navbar')%>
</head>
<body>

 

</body>

<%- include('footer') %>

</html>