
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="css/todos.css" rel="stylesheet" id="bootstrap-css">

<div style="text-align: center; margin-top: 30px;">
    <a href="/"><button class="btn btn-primary">Go to Main Page</button></a>
</div>

<div class="container" style = "margin:1rem 1rem 1rem 1rem;border-style:double">
    <div class="container" style = "margin-top: 10%; margin-bottom: 10%;">

        <div class="row">
            
                <label style = "margin-left: 30%;">Dates</label>
                <hr style = "height: 5px;background-color: red;">

        </div>
        <div  style = "text-align: center;">
        <% if (todos[i]["date"] !== ""){%>
            <label><input  type = "hidden"><%=todos[i]["date"]%></label>
            <%}else{%>
                
            <label><input type = "hidden"><img style="width:10%; height:10%;" src="img/infinity.png"
                    alt="---"></label>
                
            <%}%>
        </div>
            <br>
            <div class="row">
                <hr>
                <br><br>
                    <label style = "margin-left: 30%;">Todos</label style = "margin-left: 30%;">
                    <hr style = "height: 5px;background-color: red;">

            </div>
            

            <label style = "word-wrap: break-word;"><%=todos[i].todo%></label>
            <hr>
            <br><br>
            <div class="row">
                    <label style = "margin-left: 30%;">Notes</label style = "margin-left: 30%;">
                    <hr style = "height: 5px;background-color: red;">

            </div>

            <label style = "word-wrap: break-word;"><%=todos[i].note%></label>

    </div>
</div>




